@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
// Primary
$blue: hsl(246, 80%, 60%);
$light-red-work: hsl(15, 100%, 70%); // Work
$soft-blue: hsl(195, 74%, 62%); // Play
$light-red-study: hsl(348, 100%, 68%); // Study
$lime-green: hsl(145, 58%, 55%); // Exercise
$violet: hsl(264, 64%, 52%); // Social
$soft-orange: hsl(43, 84%, 65%); // Self care
// Neutral
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
@mixin media-min($_key) {
    @media screen and (min-width: map-get($breakpoints, $_key)) {
        &{ @content; }
    }
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $very-dark-blue;
}
main {
    flex-grow: 1;
    margin: 40px 10px;
}
.informations {
    background-color: $dark-blue;
    border-radius: 10px;
    .user {
        display: flex;
        align-items: center;
        color: white;
        background-color: $desaturated-blue;
        border-radius: 10px;
        padding: 20px 30px;
        img {
            height: 60px;
            border: solid white 3px;
            border-radius: 50%;
        }
        h1 {
            margin-left: 30px;
            font-size: 1.5rem;
            font-weight: 300;
            span {
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }
    .periodicity {
        padding: 20px 30px;
        ul {
            color: $pale-blue;
            display: flex;
            justify-content: space-between;
            li {
                cursor: pointer;
                font-size: 1.5rem;
            }
            .active {
                color: white;
            }
        }
    }
}
.card {
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    .header {
        height: 30px;
        position: relative;
        overflow: hidden;
        margin: 0 20px;
        img {
            position: absolute;
            top: 0;
            right: 0;
            height: 60px;
        }
    }
    .stats {
        background-color: $dark-blue;
        border-radius: 10px;
        padding: 20px 20px;
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px 0;
        }
        .title {
            font-size: 1.5rem;
            font-weight: 500;
            img {
                height: 5px;
            }
        }
        .hours {
            p:nth-child(1) {
                font-size: 2rem;
                font-weight: 400;
            }
            p:nth-child(2) {
                font-size: 1.5rem;
                font-weight: 300;
            }
        }
    }
}
.work {
    background-color: $light-red-work;
}
.play {
    background-color: $soft-blue;
}
.study {
    background-color: $light-red-study;
}
.exercise {
    background-color: $lime-green;
}
.social {
    background-color: $violet;
}
.self-care {
    background-color: $soft-orange;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }